.card {
    padding: .7em;
    @include flexy($dir: column, $just: space-evenly, $align: center);
    box-shadow: 1px 1px 4px rgb(95, 95, 95);
    width: 150px;
    height: 180px;
    border-radius: .3em;
    background-color: rgb(24, 24, 24);
    color: yellow;
    margin: .4em .1em .8em;
    font-size: .92rem;
    & img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}