.prod-card {
    padding: .6em .9em;
    border-radius: .2em;
    background-image: radial-gradient(circle at center right, rgb(253, 215, 0), rgb(1, 0, 8));
    color: #fff;
    min-height: 50px;
    max-width: 420px;
    @include flexy($dir: row, $align: center);
    @include mq('lg') {
        width: 100%;
        max-width: none;
    }
    position: relative;
    margin: 0 auto 1em;
    & i {
        position: absolute;
        font-size: 1.9rem;
        color: rgba(255, 255, 255, 0.822);
    }
    & span {
        font-weight: 500;
        color: #111;
    }
    & span:nth-child(2) {
        margin-left: auto;
        font-weight: 700;
    }
    & span:nth-child(3) {
        margin-left: .4em;
    }
}